<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"
    </head>
    <body>
        <div>
            <h1 th:text="${titulo}"></h1>
            <select id="profesores">
                <option selected disabled> -- Seleccione un profesor -- </option>
                <option th:if="${profesores}" th:each="profesor: ${profesores}" th:value="${profesor.id}" th:text="${profesor.nombre}">
                </option>
            </select>
            
            <table th:replace="fragments/item-curso :: cursoItem"></table>
            <table th:replace="fragments/table-head :: tableHead"></table>
            
            <table id="CargarAsignaturasYEstudiantes">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        
        <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        
        <script th:replace="js/find-profesor :: javascript"></script>
    </body>
</html>
